<div class="container">
    <div class="left-column">
      <h1 class=".text-4xl .font-bold .tracking-tight .text-slate-200 sm:text-5xl bona-nova-sc-bold" >Augusto Omena</h1>
      <h2 class="bona-nova-sc-regular" >Full Stack Developer</h2>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/augusto-omena" target="_blank" aria-label="LinkedIn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon" aria-hidden="true">
            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
          </svg>
        </a>
        <a href="https://github.com/AugustoOmena" target="_blank" aria-label="GitHub">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="icon" aria-hidden="true">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="right-column bona-nova-sc-regular">
      <p>
        I believe in transforming the world through innovation and technology. Passionate about coding and driven by challenges, I continuously work on exciting projects. I'm eager to tackle new challenges and grow further. Let’s collaborate to make a difference!
      </p>
    </div>
</div> 

<div class="container">
  <div class="center-column bottom-90">
    <h2>Experience</h2>
    <div class="glass-container">
      <a [href]="'https://www.builtcode.com.br'" target="_blank" class="no-underline">
        <div class="container glass">
          <div class="left-column" style="max-width: 140px; padding: 2px 0;">
            <p class="bona-nova-sc-regular" style="font-size: 12px;">
              April 2024 - Present
            </p>
          </div>
          <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
              <p class="bona-nova-sc-regular enterprise" >Full Stack Developer · Builtcode</p>
            <p class="p-90">
              Experience with junior fullstack programming, developing new features for the company's products and partners with .Net and Angular          </p>
          </div>
        </div>
      </a>
      <a [href]="'https://parquetecmar.angra.rj.gov.br'" target="_blank" class="no-underline">
        <div class="container glass">
            <div class="left-column" style="max-width: 140px; padding: 2px 0;">
              <p class="bona-nova-sc-regular" style="font-size: 12px;">
                Set 2023 - Apr 2024
              </p>
            </div>
            <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
              <p class="bona-nova-sc-regular enterprise" >Software Developer Internship · Parque Tecnológico do Mar</p>
              <p class="p-90">
                Experience with web development, with a focus on html, css, js, and studies focused on C#, .Net and frontend frameworks</p>
            </div>
        </div> 
      </a>
      <div class="container glass">
        <div class="left-column" style="max-width: 140px; padding: 2px 0;">
          <p class="bona-nova-sc-regular" style="font-size: 12px;">
            May 2023 - May 2024
          </p>
        </div>
        <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
          <p class="bona-nova-sc-regular enterprise" >Naval Industrial Electrician Apprentice · Firjan</p>
          <p class="p-90">
            Developed solutions using .Net, Java, and C++.</p>
        </div>
      </div> 
    </div>
    <a href="https://augustoomena.vercel.app/resume.pdf" target="_blank"><p class="p-90">View Full Résumé</p></a>

    <h2 class="top-90">Selected Project</h2>
    <div class="glass-container">
      <a [href]="'https://github.com/AugustoOmena/Clinica-Medica-webapp'" target="_blank" class="no-underline">
        <div class="center-column  glass bottom-20">
          <p class="enterprise">Internal medicine</p>
          <p class="p-90">
            This is a simple project I did to demonstrate my skills with angular and .Net, a full-fledged medical clinic backoffice.        </p>
        </div>
      </a>
    </div>
    <a href="https://github.com/AugustoOmena" target="_blank"><p class="p-90">View Projects on GitHub</p></a>
  </div>
</div>
  
  