<div class="container">
    <div class="left-column">
      <h1 class=".text-4xl .font-bold .tracking-tight .text-slate-200 sm:text-5xl bona-nova-sc-bold" >Augusto Omena</h1>
      <h2 class="bona-nova-sc-regular" >Junior Developer</h2>
      <p class="bona-nova-sc-regular" >Let's work together? -></p>
    </div>
    <div class="right-column bona-nova-sc-regular">
      <p>
        Eu acredito que podemos mudar o mundo com inovação e tecnologia, sou apaixonado por inovar e criar código. Eu amo desafios e estou sempre me desenvolvendo e trabalhando em projetos incríveis. Estou em busca de novos desafios para me aperfeiçoar, e ai, vamos criar um futuro magnífico com tecnologia juntos?
      </p>
    </div>
  </div> 

  <div class="container">
    <div class="center-column bottom-90">
      <h2>Experiência</h2>
      <div class="container glass">
        <div class="left-column" style="max-width: 140px; padding: 0 0;">
          <p class="bona-nova-sc-regular" style="font-size: 12px;">
            Abril 2024 - Presente
          </p>
        </div>
        <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
          <h2 class="bona-nova-sc-regular" >Builtcode</h2>
          <p>
            Experiência com programação fullstack Junior, Desenvolvendo novas features para os produtos da empresa e parceiros com .Net e Angular
          </p>
        </div>
      </div> 
  
      <div class="container glass">
        <div class="left-column" style="max-width: 140px; padding: 0 0;">
          <p class="bona-nova-sc-regular" style="font-size: 12px;">
            Maio 2023 - Maio 2024
          </p>
        </div>
        <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
          <h2 class="bona-nova-sc-regular" >Parque Tecnológico do Mar</h2>
          <p>
            Experiência com desenvolvimento web, com foco em html, css, js, e estudos focados em C#, .Net e frameworks frontend
          </p>
        </div>
      </div> 
  
      <p>Ver currúculo completo</p>
  
      <h2 class="top-90">Projeto</h2>
      <div class="center-column  glass bottom-20">
        <h2><p>Clínica médica</p></h2>
        <p>
          Abril 2024
        </p>
        <p>
          Aqui é um projeto simples que fiz para demonstrar minhas habilidades com angular e .Net, um backoffice de uma clínica médica completo.
        </p>
      </div>
      <p>Ver projetos no GitHub</p>
    </div>
  </div>
  
  <!-- <div class="cursor .lg\:absolute"></div> -->
  