<div class="container">
    <div class="left-column">
      <h1 class="text-sm font-bold tracking-tight text-slate-200 sm:text-xs bona-nova-sc-bold"  >Augusto Omena</h1>
      <h2 class="bona-nova-sc-regular">Full Stack Developer</h2>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/augusto-omena" target="_blank" aria-label="LinkedIn">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon" aria-hidden="true">
            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
          </svg>
        </a>
        <a href="https://github.com/AugustoOmena" target="_blank" aria-label="GitHub">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="icon" aria-hidden="true">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="right-column bona-nova-sc-regular">
      <p>
        I believe in transforming the world through innovation and technology. Passionate about coding and driven by challenges, I continuously work on exciting projects. I'm eager to tackle new challenges and grow further. Let’s collaborate to make a difference!
      </p>
    </div>
</div> 

<div class="container">
  <div class="center-column">
    <div class="content paddingDivResonant">
      <h2 class="title-content">Experience</h2>
      <div class="glass-container">
        <a [href]="'https://www.eletronuclear.gov.br/Paginas/default.aspx'" target="_blank" class="no-underline">
          <div class="glass">
            <div class="left-column" style="max-width: 140px; padding: 2px 0;">
              <p class="bona-nova-sc-regular" style="font-size: 12px;">
                Oct 2024 - Present
              </p>
            </div>
            <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
                <p class="bona-nova-sc-regular enterprise" >Full Stack Developer · Firjan | Eletronuclear</p>
              <p class="p-90">
                Responsible for updates and support of Eletronuclear's GACT and AVACT system.
              </p>
              <p translate="no" class="details line-space p-90">
                <span>SQL Server 2017</span>
                <span>AngularJS</span>
                <span>.NET Framework 4.8</span>
              </p>
            </div>
          </div>
        </a>
        <a [href]="'https://www.builtcode.com.br'" target="_blank" class="no-underline">
          <div class="glass">
            <div class="left-column" style="max-width: 140px; padding: 2px 0;">
              <p class="bona-nova-sc-regular" style="font-size: 12px;">
                April 2024 - Oct 2024
              </p>
            </div>
            <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
                <p class="bona-nova-sc-regular enterprise" >Full Stack Developer · Builtcode</p>
              <p class="p-90">
                Responsible for developing and implementing new features in internal products and partner solutions using .NET and Angular.
              </p>
              <p translate="no" class="details line-space p-90">
                <span>SQL Server 2022</span>
                <span>PostgreSQL 16</span>
                <span>Angular 18</span>
                <span>.NET 6-8</span>
                <span>C#</span>
                <span>TypesCript ~5.4.5</span>
                <span>HTML5</span>
                <span>Docker</span>
                <span>React Native</span>
              </p>
            </div>
          </div>
        </a>
        <a [href]="'https://parquetecmar.angra.rj.gov.br'" target="_blank" class="no-underline">
          <div class="glass">
              <div class="left-column" style="max-width: 140px; padding: 2px 0;">
                <p class="bona-nova-sc-regular" style="font-size: 12px;">
                  Set 2023 - Apr 2024
                </p>
              </div>
              <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
                <p class="bona-nova-sc-regular enterprise" >Software Developer Internship · Parque Tecnológico do Mar</p>
                <p class="p-90">
                  Developed responsive websites using 
                  HTML, CSS, and JavaScript. And Gained substantial experience in web 
                  development, building simple APIs and websites with the .NET 
                  framework.
                </p>
                <p translate="no" class="details line-space p-90">
                  <span>SQL Server 2022</span>
                  <span>JavaScript</span>
                  <span>HTML5</span>
                  <span>CSS</span>
                  <span>.NET 7</span>
                  <span>C#</span>
                </p>
              </div>
          </div> 
        </a>
      </div>
      <br>
      <a class="link" href="https://augustoomena.vercel.app/resume.pdf" target="_blank">
        <p>View Full Résumé</p>
      </a>
    </div>

      <div class="content">
        <h2 class="title-content">Selected Template</h2>
        <div class="glass-container">
          <a [href]="'https://github.com/AugustoOmena/api-base-net8'" target="_blank" class="no-underline">
            <div class="glass">
              <div class="left-column" style="max-width: 140px; padding: 2px 0;">
                <p class="bona-nova-sc-regular" style="font-size: 12px;">
                  Sep 2024 (2 days)
                </p>
              </div>
              <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
                  <p class="bona-nova-sc-regular enterprise" >api-base-net8 · Template</p>
                  <p class="p-90">
                    Developed using .Net 8. This is a comprehensive template to use in APIs for multiple projects that need a scalable foundation with best practices.
                  </p>
                  <p translate="no" class="details line-space p-90">
                    <span>.NET 8</span>
                    <span>C#</span>
                  </p>
              </div>
            </div>
          </a>
        </div>
        <a class="link" href="https://github.com/AugustoOmena" target="_blank">
          <p>View Projects on GitHub</p>
        </a>
      </div>
    </div>

    <div class="container" style="padding: 0;">
      <div class="left-column">
        <img src="imgs/computer.png" alt="">
      </div>
      <div class="right-column bona-nova-sc-regular">
        <h1 class="text-sm font-bold tracking-tight text-slate-200 sm:text-xs bona-nova-sc-bold" 
          style="margin-top: 30px;">
          More projects
        </h1>
        <p class="bona-nova-sc-regular">
          See some of my open source line projects, private projects and GitHub.</p>
        <div class="container" style="padding-left: 0; padding-right: 0;">
          <div class="left-column buttonProjects-column">
            <a class="link" href="https://github.com/AugustoOmena" target="_blank">
              <div class="buttonProjects">
                <p style="color:black; margin: 0; text-align: center;">
                  GitHub  
                </p>
              </div>
            </a>
          </div>
          <div class="right-column buttonProjects-column bona-nova-sc-regular">
            <div class="buttonProjects"[routerLink]="['/projects']" >
              <p style="color:black; margin: 0;">
                Catalogue  
              </p>
            </div>
          </div>
          <div *ngIf="messageVisible" class="alert-message">
            Opa, Estou trabalhando nessa tela e logo estará disponível.
          </div>
        </div> 
      </div>
    </div> 


    <div class="bottom">
      <hr>
        <div class="container">
          <div class="left-column" style="padding: 2px 0;">
            <h2 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl bona-nova-sc-bold">Augusto Omena</h2>
            <p class="p-90">
              Building Innovation.
            </p>
          </div>
          <div class="right-column bona-nova-sc-regular" style="padding: 0 0;">
              <p class="bona-nova-sc-regular enterprise" >See more:</p>
            <p translate="no" class="details line-space p-90">
              <a href="https://github.com/AugustoOmena" target="_blank" aria-label="GitHub">
                <span>Github</span>
              </a>
              <a href="https://www.linkedin.com/in/augusto-omena" target="_blank" aria-label="LinkedIn">
                <span>LinkedIn</span>
              </a>
            </p>
          </div>
        </div>
    </div>
</div>
  
  