<div class="container">
  <div class="left-column">
    <a class="goBack" [routerLink]="['/home']">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="rotate-180 arrow transition-transform" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd"></path>
      </svg>
      Come back
    </a>
    <h1 class="text-sm font-bold tracking-tight text-slate-200 sm:text-xs bona-nova-sc-bold" >
      All Projects
    </h1>
</div> 

<div class="container">
  <div class="center-column">
    <table class="table">
      <thead>
        <tr>
          <th class="sticky-header" scope="col">Year</th>
          <th class="sticky-header" scope="col">Project</th>
          <th class="sticky-header" scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <p class="bona-nova-sc-regular" style="font-size: 12px;">
              2024
            </p>
          </th>
          <td>
            <p class="bona-nova-sc-regular enterprise" >Base API .NET 8</p>
          </td>
          <td>Template for creating .NET 8 Clean Arquitechture APIs</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

